#pageTitle {
  text-align: center;
  font-size: 45px;
}
#form {
	background-color: white;
	border: 2px solid black;
	width: 800px;
	height: 480px;
	margin: auto;
	padding-bottom: 10px;
}
form {
	width: 300px;
	margin: auto;
}
#purpose {
	height: 50px;
	width: 200px;
}
