<h1 id="pageTitle">1- BU Identification</h1>
<div id="form">
  <form action="list" method="post">
    <p>Evaluating Business Unit</p>
    <select name="evluatingBU">
      <option>option 1</option>
      <option>option 2</option>
      <option>option 3</option>
    </select>
    <p>Evaluating BU Representative</p>
    <input type="text" name="evaluatingBURepresentative">
    <p>Evaluated Business Unit</p>
    <select name="evluatedBU">
      <option>option 1</option>
      <option>option 2</option>
      <option>option 3</option>
    </select>
    <p>Evaluated BU Representative</p>
    <input type="text" name="evaluatedBURepresentative">
    <p>Purpose</p>
    <textarea name="purpose" id="purpose"></textarea>
    <p>Interview Date</p>
    <input type="date" name="interviewDate">
    <input type="submit">
  </form>
</div>
