body {
  font-family: verdana;
  background-color: #c0c0c0;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
header {
	background-color: red;
	font-family: verdana;
	text-align: center;
    font-size: 30px;
}
#headerText {
	margin-top: 0px;
}
#pageTitle {
  text-align: center;
  font-size: 45px;
}
#navigationBox {
	width: 800px;
	height: 400px;
	border: 2px solid black;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content:space-around;
	background-color: white;
	margin-top: 50px;
}
#searchImage {
	width: 200px;
	height: 200px;
}
#formImage {
	width: 200px;
	height: 200px;
}
#searchDiv {
	width: 200px;
	height: 250px;
	text-align: center;
}
#formDiv {
	width: 200px;
	height: 250px;	
	text-align: center;
}
footer {
	background-color: red;
	font-family: verdana;
	text-align: center;
    font-size: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}
#footerText {
	margin-top: 0px;
	margin-bottom: 0px;
}